{{define "index"}}
<html lang="en">
    {{template "head"}}
    <body>
        {{template "profile"}}
        <div hx-trigger="load" hx-get="/posts"></div>
        {{template "footer"}}
    </body>
</html>
{{end}}