{{define "article"}}
<div class="mt-6 flex flex-col items-center justify-center">
    <h1 class="text-4xl text-center text-slate-700 mx-12 mt-4 mb-12 sm:text-6xl">{{.Title}}</h1>
    <article class="prose prose prose-zinc w-4/5">
        {{.Article}}
    </article>
</div>
{{end}}