{{define "profile"}}
<div class="mt-12 flex flex-col items-center justify-center">
    <img class="h-24 m-2 rounded-full" src="/static/img/avatar.jpg" alt="Profile Picture">
    <h1 class="m-1 text-xl font-medium">Javier Roberts</h1>
    <h2 class="m-1 text-lg font-extralight">Computer Science Engineer | CTO @ Wúru</h2>
</div>
{{end}}