{{define "profile"}}
<div class="mt-8 flex flex-col items-center justify-center sm:mt-12">
    <img class="h-24 m-2 rounded-full hidden sm:block ring-2" src="/static/img/avatar.jpg" alt="Profile Picture">
    <h1 class="m-1 text-xl font-medium">Javier Roberts</h1>
    <h2 class="m-1 text-lg font-extralight underline underline-offset-8 sm:no-underline">Computer Science Engineer | CTO @ Wúru</h2>
</div>
{{end}}